#qr-reader {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}

#qr-video {
  width: 100%;
  max-width: 500px;
  height: auto;
}

#qr-canvas {
  display: none;
}

#qr-reader-results {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
